streamlit==1.18.0           
requests==2.31.0
beautifulsoup4==4.12.3
nltk==3.8.2                  
python-dotenv==1.0.0         
spacy==3.4.4                 
scikit-learn==1.5.2          
fuzzywuzzy==0.18.1           
transformers==4.35.0
Pillow==9.5.0                
torch==2.0.0                 
